*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    max-width: 75%;
    margin: auto;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 15px;
}

.card{
    width: 240px;
    display: flex;
    margin: 10px 40px;
    box-shadow: 3px 3px 15px grey;
    border-radius: 15px;
    transition: 0.3s ease;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-family: "Fascinate", system-ui;
}


.card:hover{
    transform:scale(1.05);
    box-shadow: 3px 3px 25px grey;
}